# auto generated documents
doc
figs
# mddo project data
configs
models
netoviz_model
# local configs
.env
.rubocop.yml
.yardoc
.yardopts
# docker
.dockerignore
Dockerfile
docker-compose.yml
# git
.git
.github
.gitignore
# editor
**/.idea
**/.vscode
# ruby
vendor
.bundle
