[submodule "configs/batfish-test-topology"]
	path = configs/batfish-test-topology
	url = https://github.com/corestate55/batfish-test-topology.git
[submodule "configs/pushed_configs"]
	path = configs/pushed_configs
	url = https://github.com/ool-mddo/pushed_configs.git
