[submodule "model_defs/model_defs/batfish-test-topology"]
	path = model_defs/model_defs/batfish-test-topology
	url = https://github.com/corestate55/batfish-test-topology.git
[submodule "model_defs/batfish-test-topology"]
	path = model_defs/batfish-test-topology
	url = https://github.com/corestate55/batfish-test-topology.git
